@font-face {
	font-family: EquestriaSmall;
	src:url(assets/font/equestrianeue.ttf) format("truetype");
	font-weight:normal; }
@font-face {
	font-family: EquestriaBig;
	src:url(assets/font/equestria.ttf) format("truetype"); }

// styles that apply to everything unless contradicted below	
body {
	background-image: url('assets/other/parchment.png');
	color: #0B1664;
	padding-top: 10px;
	padding-right: 80px;
	padding-bottom: 100px;
	padding-left: 80px;
	zoom: 1;
	font-family: EquestriaSmall;
}

// styles for various types of text containers
h1 {
	font-size: 60px;
	text-align: center;
	font-family: EquestriaBig;
}

h2 {
	text-align: center;
	font-size: 40px;
}

p,
a,
label {
	font-size: 25px;
}

h3 {
	font-size: 25px;
}

// styles for the table
table {
	text-align: center;
	margin: auto;
	font-size: 25px;
}

// styles for table data
td {
	padding: 10px;
	// border: 2px solid rgb(52, 226, 43);
}

// styles for the character table, currently unused
// .character {
	// padding-right: 180px;
	// padding-left: 180px;
// }


// .charslide {
// 	border: 2px solid blueviolet;

// }

// styles for character pictures and frame combined
.portrait {

	position: relative;
	// top: 0;
	// left: 0;


}

// styles for character pictures
.avatar {
	// display: block;
	position: relative;
	top: 40px;
	left: 0px;
	z-index: 1;
	// max-width: 75%;
	// height: auto;


}

// styles for the frame
.frame {
	// display: block;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 2;
	// max-width: 75%;
	// height: auto;
}


.range-slider {
	// styles for the slider pointer text
	
	font-size: 40px; // size
	-webkit-text-stroke: 1px rgb(255, 224, 221); // border color
    -webkit-text-fill-color: rgb(173, 51, 35); // core color
	
	// other positioning stuff
	display: inline-block;
	width: 50vmax;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 15px;

	&>input {
		opacity: 0;
		width: 100%;
		position: relative;
		z-index: 5;
		margin-top: 72px;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			z-index: 100;
			position: relative;
			width: 50px;
			height: 30px;
			-webkit-border-radius: 10px;
		}
	}

	&>span.slider-container {
		// positioning stuff for the slider bar
		display: inline-block;
		min-height: 110px;
		display: inline-block;
		position: absolute;
		top: 70px;
		left: -8px;
		right: 46px;
		z-index: 3;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&>span.bar {
			// styles for the slider bar
			// the background color when the empty slider bar
			background-color: #000;
			
			// other positioning stuff
			display: inline-block;
			position: absolute;
			z-index: 1;
			top: 12px;
			left: 10px;
			right: -42px;
			height: 30px;
			overflow: hidden;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;

			&>span {
				// Styles for the slider bar
				// the gradient for the slider bar when filled
				background: rgb(110, 110, 110);
				background: linear-gradient(315deg, rgba(110, 110, 110, 1) 0%, rgba(192, 192, 192, 1) 48%, rgba(237, 237, 237, 1) 100%);
				// other positioning stuff
				display: inline-block;
				float: left;
				height: 30px;
				width: 0%;
			}
		}

		&>span.bar-btn {
			// Styles for the pointer
			// Here are a lot of positioning controls
			display: inline-block;
			position: absolute;
			width: 60px;
			height: 70px;
			padding-top: 8px;
			// padding-left: 8px;
			font-weight: bold;
			text-align: center;
			// I originally was fiddling with gradient backgrounds
			// background: rgb(110, 110, 110);
			// background: linear-gradient(315deg, rgba(110, 110, 110, 1) 0%, rgba(192, 192, 192, 1) 48%, rgba(237, 237, 237, 1) 100%);
			
			// You can use an image for your pointer!!
			background-image: url("assets/slider/knight_shield.png");

			// more positioning controls
			background-position: bottom .25cm right .22cm;
			background-size: 42px;
			background-repeat: no-repeat;

			left: -25px;
			top: -65px;
			border-radius: 3px;
			// border: rgb(51, 51, 51) 2px solid;
			// -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
			// -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
			// box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);

			&:after {
				// Styles for the slider button
				content: "";
				// The slider is circular shaped and originally had a solid border
				// border: 2px solid rgb(255, 255, 255);
				// background-color: #02c38a;
				// Pick a circular image for the slider button
				background-image: url("assets/slider/BotW_Pot_Lid_Model.webp");
				// fiddle with size until it fits in just right
				background-size: 43px;
				// Centered is where it needs to be
				background-position: center;
				// don't repeat so we don't get confused
				background-repeat: no-repeat;
				// other sizing and positioning stuff
				border-radius: 20px;
				width: 40px;
				height: 40px;
				display: inline-block;
				position: absolute;
				left: 11px;
				top: 70px;
				z-index: 3;
				-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
				-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
				box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
			}

			// &>span {
			// 	&:before {
			// 		content: "";
			// 		display: inline-block;
			// 		width: 0;
			// 		height: 0;
			// 		border-width: 25px;
			// 		border-style: solid;
			// 		border-color: rgb(51, 51, 51) transparent transparent;
			// 		position: absolute;
			// 		top: 39px;
			// 		left: -2px;
			// 	}

			// 	// &:after {
			// 	//   content: "%";
			// 	// }
			// }
		}

	}
}